# cargo-release workspace configuration
#
# Install: cargo install cargo-release
# Dry-run: cargo release <patch|minor|major>
# Execute: cargo release <patch|minor|major> --execute

[workspace]
shared-version = true
consolidate-commits = true

sign-commit = false
sign-tag = false
publish = false
push = true
push-remote = "origin"

tag-name = "v{{version}}"
tag-message = "Release v{{version}}"
pre-release-commit-message = "chore: bump version to {{version}}"
post-release-commit-message = "chore: begin development of next release"

pre-release-hook = ["cargo", "xtask", "release-check"]

# Update version string in documentation files
[[pre-release-replacements]]
file = "docs/MANUAL.md"
search = "MASH INSTALLER v[0-9]+\\.[0-9]+\\.[0-9]+"
replace = "MASH INSTALLER v{{next_version}}"

[[pre-release-replacements]]
file = "docs/MANUAL.md"
search = "\\*\\*VERSION:\\*\\* [0-9]+\\.[0-9]+\\.[0-9]+"
replace = "**VERSION:** {{next_version}}"

[[pre-release-replacements]]
file = "docs/MANUAL.md"
search = "mash-setup [0-9]+\\.[0-9]+\\.[0-9]+"
replace = "mash-setup {{next_version}}"
